[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
secure = "*"
environs = "*"
sanic-envconfig = "*"
databases = {extras = ["postgresql"], version = "*"}
cryptography = "*"
randomgen = "*"
guizero = "*"
numpy = "*"
requests = "*"
sanic-scheduler = "*"

[requires]
python_version = "3.8"
